.svg-ipod-classic {
	background: url("sprite/sprite.css-c0348e0f.svg") 0 0 no-repeat;
}

.svg-ipod-classic-dims {
	width: 77.7px;
	height: 125px;
}

.svg-site-logo {
	background: url("sprite/sprite.css-c0348e0f.svg") 99.61538461538461% 0 no-repeat;
}

.svg-site-logo-dims {
	width: 64px;
	height: 64px;
}

